html{
    background-color: rgb(245, 248, 248);
}

.title{
    margin-bottom: 10px;
    text-align:center;
    width: 190px;
    color:rgb(226, 51, 51);
    border: solid black 2px;
    }

    input[type="button"]
    {
    background-color:rgb(83, 221, 226);
    color: black;
    border: solid black 2px;
    width:100%
    }

    input[type="text"]
    {
    background-color:white;
    border: solid black 2px;
    width:100%
    }